<?xml version="1.0" encoding="utf-8" ?>
<!-- Development -->
<configuration>
  <appSettings>
    <add key="AppName" value="Beep Data Management Models" />
    <add key="AppVersion" value="2.0.76" />
    <add key="AppDescription" value="Data Management Library Models" />
    <add key="AppCompany" value="The Tech Idea" />
    <add key="AppProduct" value="TheTechIdea.Beep.DataManagementModels" />
    <add key="AppCopyright" value="2022 The Tech Idea" />
    <add key="AppUrl" value="www.TheTechIdea.com" />
    <add key="AppRepositoryUrl" value="localhost/Beep" />
    <add key="AppPackageUrl" value="  " />
    <add key="AppDocumentationUrl" value="www.TheTechIdea.com/docs" />
    <add key ="AuthService" value="localhost/Beep/AuthService" />
    <add key ="UserService" value="localhost/Beep/UserService" />
    <add key ="DataService" value="localhost/Beep/DataService" />
    <add key ="NotificationService" value="localhost/Beep/NotificationService" />
    <add key ="AuthClientSecret" value=""/>
    
  </appSettings>
</configuration>