{"PackageOfflinepath":"","Folders":[],"Runtimes":[{"GuidObj":"2a60d23f-e3de-43d4-baed-21346af57e3d","ID":"2a60d23f-e3de-43d4-baed-21346af57e3d","LastfilePath":"","Script":"","ScriptPath":"","RuntimePath":"","BinPath":"","Packageinstallpath":"","AiFolderpath":"","PythonVersion":"","BinType":"Unknown","PythonDll":"","Message":"No Python Runtime Found","IsPythonInstalled":false,"PackageType":"pypi"}],"Packagelist":[],"InitPackagelist":[],"RunTimeIndex":0,"CurrentRuntimeConfig":{"GuidObj":"2a60d23f-e3de-43d4-baed-21346af57e3d","ID":"2a60d23f-e3de-43d4-baed-21346af57e3d","LastfilePath":"","Script":"","ScriptPath":"","RuntimePath":"","BinPath":"","Packageinstallpath":"","AiFolderpath":"","PythonVersion":"","BinType":"Unknown","PythonDll":"","Message":"No Python Runtime Found","IsPythonInstalled":false,"PackageType":"pypi"}}